# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
